---
import AnonChat from "../components/chat";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Анонимный чат</title>
  </head>
  <body>
    <main style="display: flex; justify-content: center; align-items: center;">
      <AnonChat client:load />
    </main>
  </body>
</html>
